body { 
    display: grid;
    grid-template-rows: 150px 100px 600px 300px; 
    grid-row-gap: 20px;
    
}

nav{ 
    div{
         a{
             img {
    max-width: 150px;
    transform:
         }
        }
    }
}

h1{
font-family: sans-serif;
font-weight: bolder;
}

.logo:hover{
    transform: scale(2);
}

nav{
    div{
         div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px;}
         }
}

 
main{ 
    div{ 
        img {
    height: 700px;
    width: 600px;
        } 
    }
}


footer {
    background-color: #050101;
    padding: 100px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{ 
    img{ max-width: 50px;
            margin: 5px;}
}



@media screen and (min-width: 768px) {
    nav{
        flex-direction: column;
        font-size: 2em;
    }

    h1{
    font-weight: normal;
    }

    footer{
        justify-content:baseline;
    }
    
    footer img{
    max-width: 100px;
    }
}
